*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  text-decoration: none;
  list-style: none;
}

nav {
  width: 100%;
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  position: absolute;
  top: -20px;
}
nav .nav--links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: start;
}
nav .nav--links .link--per a {
  position: relative;
  padding-bottom: 0.75rem;
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
}
nav .nav--links .link--per a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(12, 8, 233);
  transition: all 0.3s ease;
}
nav .nav--links .link--per a:hover::after {
  width: 70%;
}

.nav--logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.8rem;
  justify-content: start;
  color: #000;
}
.nav--logo .logo {
  width: 50px;
  border-radius: 9px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(34, 34, 34, 0.1333333333);
}

.contenedor {
  margin: auto;
  padding: 5rem 2rem;
  display: flex;
  justify-content: center;
}
.contenedor .ilustration {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.contenedor .ilustration .pages-ilustration {
  background-color: #27272a;
  padding: 1rem;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease;
  color: #fff;
}
.contenedor .ilustration .pages-ilustration:hover {
  background-color: #323232;
  border-color: #fff;
}
.contenedor .ilustration .pages-ilustration .img-card {
  width: 250px;
  height: 170px;
  border-radius: 12px;
}
.contenedor .ilustration .pages-ilustration .btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: #1d4ed8;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contenedor .ilustration .pages-ilustration .btn:hover {
  background-color: #1e40af;
}

.fondo {
  width: 100%;
}

.information {
  position: relative;
  top: 0;
  width: 100%;
  height: 90vh;
}
.information .imgIlu {
  position: absolute;
  width: 100%;
  height: 100%;
}
.information .capa {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.527);
}
.information .textInf {
  position: absolute;
  top: 270px;
  z-index: 10;
  width: 75%;
  text-align: center;
  left: 270px;
  color: rgba(255, 255, 255, 0.5764705882);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  margin: 10px;
  justify-content: space-around;
  gap: 16px;
  font-size: 1.25rem;
}

footer {
  background-color: #222;
  width: 100%;
  height: 17vh;
  margin-top: 20px;
}
footer .redes {
  display: inline-block;
  position: relative;
}
footer .redes .link-item a {
  color: #FDFDFD;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 6px;
}
footer .redes .link-item a .bx {
  font-size: 1.4rem;
}
footer .credits {
  border-top: 2px solid #F5F5F4;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .credits .container--logo {
  width: 20px;
  transition: width 0.85s ease;
  overflow: hidden;
}
footer .credits .container--logo:hover {
  width: 300px;
}
footer span {
  color: #F5F5F4;
}
footer .texto-pdp {
  text-align: center;
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.329);
}

#map {
  position: relative;
  right: 430px;
  bottom: 47px;
  height: 250px;
  width: 250px;
}

.recommended {
  position: relative;
  width: 100%;
  height: 450px;
}
.recommended .recommendedTittle {
  text-align: center;
  font-weight: 600;
  font-size: 3.2rem;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 80px;
}
.recommended .recommendedProducts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}
.recommended .recommendedProducts .cardPer {
  width: 250px;
  height: 250px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
}
.recommended .recommendedProducts .cardPer:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=styles.css.map */
