.contenedor{
    margin: auto;
    padding: 5rem 2rem; 
    display: flex;
    justify-content: center;
    

    .ilustration{
        margin-top: 4rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;        

        .pages-ilustration{
            background-color: #27272a;
            padding: 1rem;
            border: 2px solid transparent;
            border-radius: 15px;
            transition: all 0.3s ease;
            color: #fff;
            
            &:hover{
                background-color: #323232;
                border-color: #fff;
            }

            .img-card{
                width: 250px;
                height: 170px;
                border-radius: 12px;
                
            }
            .btn{
                padding: 1rem 2rem;
                font-size: 1rem;
                color: #fff;
                background-color: #1d4ed8;
                border-radius: 9px;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover{
                    background-color: #1e40af;
                }
            }
        }
    }
}
.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #1d4ed8;
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover{
        background-color: #1e40af;
    }
}
.fondo{
    width: 100%;
}
.information{
    position: relative;
    top: 0;
    width: 100%;
    height: 90vh;
    
    .imgIlu{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .capa{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.527);
    }
    .textInf{
        position: absolute;
        top: 270px;
        z-index: 10;
        width: 75%;
        text-align: center;
        left: 270px;
        color: rgba(255, 255, 255, 0.5764705882);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 10px;
        margin: 10px;
        justify-content: space-around;
        gap: 16px;
        font-size: 1.25rem;
    }
}
        footer{
            background-color: #222;
            width: 100%;
            height: 17vh;
            margin-top: 20px;
        
            .redes{
                display: inline-block;
                position: relative;
                .link-item{
                    a{
                        color: #FDFDFD;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        gap: 6px;
                        .bx{
                            font-size: 1.4rem;
                        }
                    }
                }
            }
            .credits{
                border-top: 2px solid #F5F5F4;
                width: 100%;
                height: 60px;
                display: flex;
                
                align-items: center;
                justify-content: space-between;
                .container--logo{
                    width: 20px;
                    transition: width .85s ease;
                    overflow: hidden;
                    &:hover{
                        width: 300px;
                    }
                }
            }
            span{
                color: #F5F5F4;
            }
            .texto-pdp{
                text-align: center;
                font-size: 1.25rem;
                color: rgba(0, 0, 0, 0.329);
            }
        }
        #map{
            position: relative;
            right: 430px;
            bottom: 47px;
            height: 250px;
            width: 250px;
        }
.recommended{
    position: relative;
    width: 100%;
    height: 450px;
    .recommendedTittle{
        text-align: center;
        font-weight:600;
        font-size: 3.2rem;
        gap: 20px;
        margin-top: 50px;
        margin-bottom: 80px;
    }
    .recommendedProducts{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-evenly;


        .cardPer{
            width: 250px;
            height: 250px;
            margin: 10px;
            border-radius: 10px;
            border: 1px solid;
            display: flex;
            justify-content: center;
            transition: all 0.3s ease;

            &:hover{
                transform: scale(1.1);
            }
            img{
            border-radius: 10px;
            }
        }
    }
}
